/venv
/.idea
/__pycache__
/project/__pycache__
project.db
/staticfiles
/project/static
apps/root/__pycache__

apps/__pycache__

apps/authentication/__pycache__
apps/account/__pycache__
apps/dash/__pycache__
apps/root/__pycache__
apps/radio/__pycache__
apps/regis/__pycache__
apps/labo/__pycache__
apps/pharm/__pycache__
apps/ward/__pycache__

apps/root/Project/static
apps/dash/Project/static
apps/pharm/Project/static
apps/regis/Project/static
apps/radio/Project/static
apps/labo/Project/static
apps/pharm/Project/static
apps/ward/Project/static

apps/dash/migrations/
apps/account/migrations/
apps/authentication/migrations/
apps/root/migrations/
apps/regis/migrations/
apps/radio/migrations/
apps/pharm/migrations/
apps/labo/migrations/
apps/ward/migrations/